<% form_for :album, :url => space_albums_path do |f|%>
  <table><tr>
      <strong>创建相册</strong>
    </tr>
    <tr>
      <td>相册名称：</td>
      <td><label>
          <%= f.text_field :name, :class => 'input' %>
      </label></td>
    </tr>
    <tr>
      <td>相册简介：</td>
      <td><label>
          <%= f.text_area :description, :rows => 5, :cols => 45 %>
      </label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <%= submit_tag 'Save', :class => 'button'%>
      </td>
    </tr>
  </table>
<% end %>
