<% form_for :photo, :url => space_album_photos_path, :html => { :multipart => true } do |f|%>
  <table><tr>
      <strong>Upload a file:</strong>
      <%= f.file_field :uploaded_data %>
    </tr>
    <tr>
      <td>名称：</td>
      <td><label>
          <%= f.text_field :title, :class => 'input' %>
      </label></td>
    </tr>
    <tr>
      <td>简介：</td>
      <td><label>
          <%= f.text_area :description, :rows => 5, :cols => 45 %>
      </label></td>
    </tr>
  </table>
  <ul>
    <li> <strong>默认标签:</strong> </li>
    <li><strong>自己写标签: </strong> </li>
    <li><strong>已有自定义标签:</strong> </li>
    <li class="upload_notice">请勿上传涉及色情、政治敏感及其他非法内容的照片，否则会被删除。</li>
    <%= submit_tag 'Save', :class => 'button'%>
  </ul>
<% end %>
